.main {
    /* background-color: red; */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.projects-title {
    /* margin-top: 60px; */
    font-size: 32px;
    font-weight: 700;
    /* color:#000000; */
    color:var(--title);
    padding-bottom: 1rem;
}

.projects-container {
    /* background-color: pink; */
    width: 50%;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* padding : 20px 0px */
}

.project-name {
    color:var(--title);
    font-size: 18px;
    font-weight: 700;
}

.project-description {
    color:var(--subtitle);
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    padding-top: 15px;
    letter-spacing: 0.5px;
    /* font-family: Arial; */
}

.one-project {
    /* background-color: red; */
    padding: 15px 0;
}
.project-icon {
    width:40px;
    /* height: 40px; */
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    margin-right: 15px;
    box-shadow: 2px 2px 2px var(--subtitle);
}


@media (max-width:1200px){
    .projects-container {
        /* background-color: red; */
        width:65%
    }
}

@media (max-width:1000px){
    .projects-container {
        /* background-color: green; */
        width:82%
    }
}

@media (max-width:800px){
    .projects-container {
        /* background-color: pink; */
        width:85%
    }
}


@media (max-width:600px){
    .projects-container {
        /* background-color: green; */
        width:90%
    }
}