.main {
    /* background-color: red; */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.projects-title {
    font-size: 32px;
    font-weight: 700;
    color:var(--title);
}

.projects-container {
    /* background-color: pink; */
    width: 50%;
}

.project-name {
    color:var(--title);
    font-size: 18px;
    font-weight: 700;
}


.one-project {
    /* background-color: rgb(240,240,240); */
    /* background-color: var(--green); */
    padding: 10px 0px;
    margin-top: 10px;
    border-radius: 5px;
}
.project-icon {
    width:40px;
    margin-right: 15px;
    border-radius: 20px;
}

.app-platform {
    color:var(--title);
    scale:0.75;
    /* background-color: red; */
}

.platforms-container {
    /* background-color: green; */
    margin-top:5px;
    display: flex;
}

.empty-image {
    width:40px;
    height:40px;
    border-radius: 20px;
    background-color: var(--subtitle);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.empty-text {
    color:var(--primary);
    font-size: 15px;
    font-weight: 400;
}


@media (max-width:1200px){
    .projects-container {
        /* background-color: red; */
        width:65%
    }
}

@media (max-width:1000px){
    .projects-container {
        /* background-color: green; */
        width:82%
    }
}

@media (max-width:800px){
    .projects-container {
        /* background-color: pink; */
        width:85%
    }
}


@media (max-width:600px){
    .projects-container {
        background-color: green;
        width:90%;
    }
}

@media (max-width:400px){
    .projects-container {
        background-color: green;
        width:100%;
    }
}