.card-container {
    /* background-color: red; */
    width: 290px;
    height: 400px;
    /* margin-bottom: 2rem; */
    border-radius: 20px;
    margin:10px;
    overflow: hidden;
    border: 1px solid red;
}

.image-container {
    width:290px;
    height:300px;
    /* object-fit: cover; */
    /* object-position: center; */
}

.inline-p {
    display: inline-block;
    COLOR:red
}
