.technologies {
    /* background-color: pink; */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: var(--title);
    color:var(--title);
}

.techs-container {
    /* background-color: green; */
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* @media (max-width:450px) {
    .techs-container {
        justify-content: center;
    }
} */
