
.hero {
    background-color: #d3e8e1;
}
.hero-container {
    background-color: #d3e8e1;
    /* padding: 5rem 0; */
    padding-top: 5rem;
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.greeting {
    color:rgb(60,60,78);
    color:var(--title);
    font-size: 48px;
    font-weight: 700;
}


.left-container {
    /* background-color: pink; */
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 120px;
}

.right-container {
    /* background-color: red;  */
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-container {
    width: 500px;
}

@media (max-width:1000px){
    .image-container {
        width:400px
    }
    .right-container {
        /* background-color: pink  ; */
    }
}

@media (max-width:700px){
    .hero-container {
        flex-direction: column;
    }   

    .left-container {
        padding-top: 3rem;
        padding-bottom: 6rem;
    }

    .description {
        padding-bottom: 0;
    }

    .image-container {
        width: 500px;
    }
}

@media (max-width:500px){
    .image-container {
        width: 300px;
    }
}