.contact-container {
    /* background-color: green; */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 1rem; */
    padding-bottom: 3rem;
}

.form-container {
    /* background-color: pink; */
    padding-top: 2rem;
}

.label-input {
    display: flex;
    align-items: center;
    /* background-color: red; */
}


section.contact-container label {
    color: var(--subtitle);
    margin-right: 1rem;
}

section.contact-container #email,
section.contact-container #message {
    all: unset;
    background-color: rgba(93, 93, 100, 0.15);
    border: 1px solid rgb(63, 63, 70);
    width: 19rem;
    padding: 0.75rem 1rem;
    /* margin-left: 1rem; */
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1rem;
    /* color:rgb(45,212,191) */
    color: var(--title)
}

section.contact-container #email:focus,
section.contact-container #message:focus {
    border: 1px solid #d3e8e1;
}

section.contact-container #email:hover,
section.contact-container #message:hover {
    border: 1px solid rgb(45, 212, 191);
}


section.contact-container #message {
    min-height: 9rem;
    resize: vertical;
}

section.contact-container .submit {
    background-color: rgba(36, 37, 46, 1);
    padding: 0 30px;
    height: 50px;
    text-align: center;
    /* font-size: 1.05rem; */
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 5px;
    transition: 0.3;
    margin-top: 1.8rem;
    border: 1px solid rgb(63, 63, 70);
    color: white
}

section.contact-container .submit:hover {
    scale: 0.97;
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}





@media (max-width: 600px) {
    section.contact-container .animation {
        display: none;
    }

    .label-input {
        display: flex;
        flex-direction: column;
        /* background-color: blue; */
        align-items: start;
        /* width: 100%; */
    }

    /* section.contact-container form {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: auto;
        margin-right: auto;;
        background-color: red;
    } */

    /* section.contact-container form div.flex {
        flex-direction: column;
        align-items: start;
    } */

    section.contact-container #email,
    section.contact-container #message {
        /* width: 100%; */
        /* margin-left: 0; */
        padding: 0.5rem 1rem;
        margin-top: 1rem;
    }

    section.contact-container .submit {
        /* width: 45%; */
        padding: 0 30px;
        margin-left: auto;
        margin-right: auto;
    }
}