.header-container {
    background-color: #d3e8e1;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.me {
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    color:#000000;
}

.links {
    font-size: 16px;
    font-weight: 400;
    /* padding-top: 10px; */
    color:rgb(98, 97, 116);
}

.networks {
    /* background-color: red; */
    padding-top: 10px;
}

li {
    padding-right: 10px;
    cursor: pointer;
}

li:hover {
    scale:1.05;
    text-decoration: underline;
    color:#000000
}


@media (max-width:600px) {
    .header-container {
        /* background-color: green; */
        flex-direction: column;
    }
}