.header-container {
    /* background-color: red; */
    background-color: #d3e8e1;
    /* background-color: rgb(45,212,191); */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.me {
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    color:#000000;
    /* color:rgb(98, 97, 116) */
}

.links {
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    /* color:#000000; */
    color:rgb(98, 97, 116)
}

@media (max-width:600px) {
    .header-container {
        /* background-color: green; */
        flex-direction: column;
    }
}