.tech-card {
    /* background-color: red; */
    width:90px;
    height:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}


.tech-react {
    width: 100%;
    height:100%;
    background-color: #1c253b;
    color:#61dbfc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-react-native {
    width: 100%;
    height:100%;
    background-color: rgb(83, 193, 221);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-js {
    width: 100%;
    height:100%;
    background-color: #f6df31;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-ts {
    width: 100%;
    height:100%;
    background-color: #2687d1;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-git {
    width: 100%;
    height:100%;
    background-color: rgb(241, 78, 50);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-xcode {
    width: 100%;
    height:100%;
    background-color: rgb(41, 98, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-android {
    width: 100%;
    height:100%;
    background-color:rgb(56,163,75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-redux {
    width: 100%;
    height:100%;
    background-color: rgb(118, 74, 188);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-mobx {
    width: 100%;
    height:100%;
    background-color: #e26013;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one-tech {
    /* background-color: green; */
    scale:3.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology-name {
    color: var(--title);
    padding:10px 0px;
    font-size: 14px;
    font-weight: 400;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    margin-right: 5px;
}

@media (max-width:370px){
    .tech-card {
        /* margin-right: 5px; */
        width: 80px;
        height:80px;
    }
}