.tech-card {
    background-color: var(--green);
    width:100px;
    height:100px;
    margin-right: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.technology {
    font-size: 17px;
    text-align: center;
    color:var(--title)
}

@media (max-width:470px){
    .tech-card {
        margin-right: 5px;
    }
}