.header {
    background-color: var(--green);
    /* background-color: red; */
}
.header-container {
    background-color: var(--green);
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width:85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.me {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color:rgb(60, 60, 78);
    /* color:var(--title) */
}

.links {
    font-size: 16px;
    font-weight: 400;
    /* color:var(--subtitle); */
}

.networks {
    /* background-color: red; */
    /* padding-top: 30px; */
}

li {
    padding-right: 10px;
    cursor: pointer;
    color:var(--subtitle)
}
.linkTo {
    /* color:var(--subtitle); */
    color:rgb(98, 97, 116);
}

li:hover {
    scale:1.05;
    text-decoration: underline;
    text-decoration-color: var(--blue);
}

.links-plus-mode {
    background-color: red;
}

.mode {
    /* position: fixed; */
    /* right:80px */
    /* background-color: green; */
    margin-left: 10px;
}

.button-mode {
    all:unset
}


.mode-icon {
    /* color:var(--subtitle); */
    /* margin-right: 10px; */
    /* scale:0.8; */
}

.links-with-theme {
    display: flex;
    align-items: center;

}

@media (max-width:600px) {
    .header-container {
        /* background-color: green; */
        flex-direction: column;
        align-items: start;
        margin-top: 0;
    }
    .links-with-theme {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%
    }

    .mode {
        position: absolute;
        right:30px;
        top:20px;
    }
    
}