.footer-container {
    /* background-color: red; */
    margin-top: 6rem;
    height:4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
}   