.activities-container {
    /* background-color: red; */
    width:85%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
}


.activities-title {
    font-size: 32px;
    font-weight: 700;
    color:#000000;
    color:var(--title);
    padding-bottom: 1rem;
}


.icon-with-label {
    display: flex;
    align-items: start;
    /* background-color: red; */
    /* margin-bottom: 1px; */
}


.activity-icon {
    /* background-color: var(--title); */
    color:var(--subtitle);
    margin-right: 10px;
    scale:0.7;
}